DATABASE_URL="postgresql://amable:amable@localhost:5432/amable?schema=public"
AUTH_SECRET="dev-secret-change-in-production-min-16-chars"
PUBLIC_APP_URL="http://localhost:3000"
REDIS_URL="redis://127.0.0.1:6379"

